*{
    margin: 0;
    padding: 0;
}

body{
      display: flex;
    justify-content: center;
    text-align: center;
    
    min-height: 100vh;
   background-image: url("https://images.unsplash.com/photo-1603777953913-d4bace4bf01c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGN1cnJlbmN5JTIwY29udmVydG9yfGVufDB8fDB8fHww");
   background-size: cover; 
    background-position: center;
   
}
.container{
    background-color: azure;
    padding: 1.5rem;
    border-radius: 1rem;
    margin-top: 100px;
    margin-bottom: 100px;
    min-height:45vh
    
     
    
}
.form{
    margin: 2rem 0 1rem 0;
}

form select,button,input{
    width:100%;
    font-size: 1rem;
    margin-top: 10px;
    
    border-radius: 0.75rem;
    border:none;
    outline: none;
}

form input{
    border: 1px solid lightgray;
    border-color: black;
    font-size: 1rem;
    height: 2.5rem;
    padding-left: 0.5rem;
    margin-right: 10px;
}
.dropdown{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin-top: 2rem;
    
    
}

.select-container img{
    display: flex;
    justify-content: center;
    width:8rem;
   
 align-items: center;
     max-width:  1.75rem;
}

form button{
    height: 3rem;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    margin-right: 15px;
    background-color:#af4d98;
    color: aliceblue;
    font-size: 1rem;
}
.msg{
    margin: 1rem;
    font-size: 0.75rem;
}
